body {
    font-family: Arial, sans-serif;
    background: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
    background-size: cover;
}

#content {
    display: none;
    margin-top: 0px;
    padding: 10px;
    margin-left: 50px;
    width: 40%;
    text-align: center;
}

#toggleButton {
    margin-left: 270px;
    margin-top: 300px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}